<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Uygulamam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">    
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Management", "Index", "Student", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Student")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Users", "UserIndex", "User")</li>
                    <li>@Html.ActionLink("LogEntities", "Logger", "Logger")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form style="margin-top:13px;" asp-controller="Student" asp-action="Index" method="post">
                            <p>
                                <input type="search" name="searchString" placeholder="Arama yap..." />
                                <input type="submit" value="Ara" />
                            </p>
                        </form>
                    <li>@Html.ActionLink("Exit", "Logout", "Security")</li>
                </ul>
            </div>                     
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
            <footer>
                ©  @DateTime.Now.Year  Copyright: Fatih HAS, ASP.NET Uygulamam
            </footer>
        <!-- Footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

