@model CrudOperatorEntity.UserLogin

@{
    ViewBag.Title = "UserAbout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserAbout</h2>

<div>
    <h4>UserLogin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserMail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
